@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    color: aliceblue;

}

.container {
    display: flex;
    gap: 0px;
    max-width: 500px;
    width: 100%;
    margin: 0 0;
    padding: 0;
}

h1 {
    font-size: 2.5rem;
    color: aquamarine;
}

.title {
    font-size: 2rem;
    line-height: 1.1;
    font-weight: 1100;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 25px;
    margin-right: 55px;
}

.wrap-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: linear-gradient(to right, #424141, #0e0e0e);
    padding: 20px 0px 20px 0px;
    align-items: center;
    color: #f5f5f5;
}

.wrap-options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;

}

.wrap-options a {
    text-decoration: none;
    color: #f5f5f5;
    transition: all 0.3s;
}

.wrap-options a:hover {
    transform: scale(1.2);
}

.wrap-button {
    transition: all 0.3s;

}

.wrap-button:hover {
    transform: scale(1.1);
}

.btn {
    text-decoration: none;
    color: inherit;
    border: 1px solid;
    border-radius: 10px;
    padding: 10px 40px 10px 40px;

}

/*body*/

.background {
    background-image: url('img/Score-2.jpg');
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
}


.hero-title {
    font-size: 20px;
    line-height: 64.8px;
    text-align: start;
    letter-spacing: normal;
    color: #fcfcfc;
    padding: 134px 545px 420px 100px;

}

.hero-principal {
    font-size: 18px;
    padding: 65px 700px 80px 80px;
    line-height: 30.8px;
    justify-content: start;
    letter-spacing: normal;
    fill: #717171;
    background: #000000 opacity 0%;

}

.hero__up__text {
    margin: 20px;
    text-transform: uppercase;
    font-weight: 600;
    color: #2bd1a3;
}

.hero__descript {
    text-align: start;
    font-size: 20px;
    padding: 0px;
    margin: 20px;
    line-height: 30.8px;
    color: white;
}

.botao {
    transition: all 0.5s;
    margin: 90px;
}

.botao:hover {
    transform: scale(1.1);
}

.ancora {
    text-decoration: none;
    color: #2bd1a3;
    border: 2px solid;
    border-radius: 40px;
    padding: 10px 40px 10px 40px;

}

.benefits-background {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 601px;
    width: 1349px;
}

.vantagens-h2 {
    display: flex;
    flex-direction: column;
    font-size: 42px;
    letter-spacing: normal;
    color: #2e2e2e;
    margin: 20px 20px 30px 50px;

}

.benefits-p {
    font-size: 16px;
    color: #717171;
}

.conteiner {
    margin-top: 50px;
    display: flex;
    gap: 90px;
    /*background-color: rgb(71, 67, 61);*/
    background-color: #000000, opacity 0%;
    justify-content: space-between;
    padding-left: 70px;
    padding-right: 70px;
    flex-direction: row;
    text-align: -50% -50%;
}

.benefits-item {
    display: flex;
    gap: 20px;
    background-color: #e0bd22;
    color: #000000;
    height: 250px;
    width: 250px;
    box-shadow: rgba(0, 0, 0, 0.133) 0px 16px 16px -2px;
    border-radius: 5px;
    text-align: center;
    transition: all 0.3s;
}

.benefits-item:hover {
    transform: scale(1.1);
}

.img-Estoque {
    width: 100px;
    border: #f5f5f5;
    padding: 10px;
}

.Controlestoque-h3 {
    font-size: 20px;
    letter-spacing: normal;
}

.estoque-p {
    display: flex;
    flex-direction: column;
    margin: 25px 0px 0px 10px;
    padding: 15px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    padding-inline: 1ch;
    color: white;
}

.img-app {
    width: 100px;
    padding: 10px;
}

.reservas-h3 {
    font-size: 20px
}

.Reservas-p {
    margin: 25px 0px 0px 10px;
    padding: 15px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    padding-inline: 1ch;
    color: white;
}

.img-nfc {
    width: 100px;
    padding: 10px;
}

.nfc-h3 {
    font-size: 20px;
}

.nfc-p {
    margin: 5px 0px 0px 10px;
    padding: 0px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    padding-inline: 1ch;
    color: white;
}

.img-decisao {
    width: 100px;
    background-color: transparent;
}

.decs-p {
    margin: 5px 0px 0px 10px;
    padding: 3px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    padding-inline: 1ch;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.133) 0px 16px 16px -2px
}

/*sessão com imagem do sistema e faqs*/
.detalis-container {
    margin-top: 50px;
    display: flex;
    gap: 90px;
    /*background-color: rgb(71, 67, 61);*/
    background-color: #000000, opacity 0%;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    flex-direction: row;
    text-align: -50% -50%;
}

.detalis-item {
    display: flex;
    text-align: start;
    justify-self: auto;

}

.detalis-img {
    display: flex;
    background-image: url('img/pc.jpeg');
    height: 600px;
    width: 500px;
    background-size: cover;
    background-repeat: repeat;


}

/*perguntas frequentes*/

.direita {
    display: flex;
    width: 800px;
    justify-content: center;
}

.container-faq {
    display: flex;
    flex-direction: column;
    column-gap: 85px;
    margin-left: 200px;
    margin-right: 200px;

}

.faq {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 15px;
    padding-bottom: 25px;
    color: #074448;
}

.faq-item {
    background-color: #fbf4f4;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 20px 0;
    padding: 5px;
    transition: box-shadow 0.3s;
}

.faq-item:hover {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.pergunta-faq {
    display: flex;
    font-size: 18px;
    cursor: pointer;
    color: #374554;
    margin: 0;
}

.resposta-faq {
    display: flex;
    display: none;
    padding-top: 10px;
    color: #4c4848;
}

/*estilizando slides*/
.containe-slide {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    background: linear-gradient(to right, #424141, #0e0e0e);
}

.slide1 {
    transition: 1.5s;
    width: 900px;
    height: 500px;
}

.slide2 {
    transition: 1.5s;
    width: 980px;
    height: 500px;
}

.slide3 {
    transition: 1.5s;
    max-width: 900px;
    max-height: 500px;

}

.slider {
    margin: 0 auto;
    width: 900px;
    height: 500px;
    overflow: hidden;
}

.slides {
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
}

.slide img {
    width: 300px;
}

.manual-navigation {
    position: absolute;
    width: 800px;
    height: auto;
    margin-top: 0px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: white;
}

/* Controle de slides */
#radio1:checked~.slide1 {
    margin-left: 0;
}

#radio2:checked~.slide2 {
    margin-left: -25%;
    /* Muda para 100% */
}

#radio3:checked~.slide3 {
    margin-left: -55%;
    /* Muda para 200% */
}

.navigation-auto div {
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto {
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
    margin-bottom: -40;
    margin-top: 400px;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked~.navigation-auto .auto-btn1 {
    background-color: white;
}

#radio2:checked~.navigation-auto .auto-btn2 {
    background-color: white;
}

#radio3:checked~.navigation-auto .auto-btn3 {
    background-color: white;
}